* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("pexels-vovan-gord-3911779.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h3 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: #333;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 8px 16px;
    margin-left: 20px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.content {
   color: #fff;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

.content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.content p {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    max-width: 600px;
}

.content button {
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 24px;
    background: #333;
    color: #fff;
    padding: 12px 30px;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}

.content button:hover {
    color: #333;
    background: #fff;
}